body {
	background-color: #CDEEFD;
}

.main-content {
	margin-top: 2%;
	font-family: sans-serif;
	height: 30%;
	background-color: #B3E5FC;
	-webkit-border-radius: 5px;
	display: flex;
	-webkit-justify-content: center;
	padding: 2%;
}

.item {
	display: flex;
	justify-content: center;
}

img {
	display: flex;
	justify-content: center;
	width: 35%;
	margin: 2%;
	-webkit-border-radius: 5px;
	-webkit-transition: all 0.6s;
	margin: 0 auto;
}

img:hover {
	-webkit-transform: scale(1.1, 1.1);
}

